!!!
%html

%head
  %meta{ charset: 'utf-8' }
  %meta{ name: 'ROBOTS', content: 'OODP' }
  %meta{ name: 'viewport', content: 'initial-scale=1' }
  %title= yield(:page_title) || title
  = stylesheet_link_tag :application, media: "all"
  = csrf_meta_tags

%body.body_class
  = render 'flashes'
  .container= yield
  = render 'javascript'

